# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Git
.git/
.gitignore
.gitattributes

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
HELP.md
